 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      display: flex;
      width: 90%;
      max-width: 1200px;
      gap: 10px;
    }
    .panel {
      position: relative;
      flex: 1;
      height: 400px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
    }

    .panel.active {
      flex: 5; 
    }

    .panel:not(.active) {
      flex: 1; 
    }

    .img-text {
      color: white;
	}
